@import url("../static/fonts/inter/inter.css");

@font-face {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../static/fonts/evolventa/Evolventa-Regular.woff") format("woff"),
       url("../static/fonts/evolventa/Evolventa-Regular.ttf") format("ttf"),
       url("../static/fonts/evolventa/Evolventa-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../static/fonts/evolventa/Evolventa-Bold.woff") format("woff"),
       url("../static/fonts/evolventa/Evolventa-Bold.ttf") format("ttf"),
       url("../static/fonts/evolventa/Evolventa-Bold.otf") format("otf");
}

@font-face {
  font-family: 'Evolventa';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../static/fonts/evolventa/Evolventa-Oblique.woff") format("woff"),
       url("../static/fonts/evolventa/Evolventa-Oblique.ttf") format("ttf"),
       url("../static/fonts/evolventa/Evolventa-Oblique.otf") format("otf");
}

@font-face {
  font-family: 'Evolventa';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../static/fonts/evolventa/Evolventa-BoldOblique.woff") format("woff"),
       url("../static/fonts/evolventa/Evolventa-BoldOblique.ttf") format("ttf"),
       url("../static/fonts/evolventa/Evolventa-BoldOblique.otf") format("otf");
}

@media (min-width: 960px) {
  div.container {
    max-width: 900px;
  }
}
@media (min-width: 1264px) {
  div.container {
    max-width: 1110px;
  }
}
@media (min-width: 1700px) {
  div.container {
    max-width: 1150px;
    padding: 0;
  }
}

.v-application {
  font-family: 'Evolventa' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #272727;
}

div.v-application a {
  color: #272727;
}

.v-application .v-badge {
  width: fit-content;
}

.v-application .v-badge span.v-badge__badge {
  background-color: transparent !important;
}

.v-application button.btn.btn-primary,
.v-application button.btn.btn-secondary,
.v-application button.btn.btn-transparent {
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0 32px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.v-application button.btn.btn-primary {
  background-color: #FF343F;
}

.v-application button.btn.btn-primary.v-btn--disabled {
  background-color: #FF343F !important;
  color: #ffffff !important;
  opacity: 0.5;
}

.v-application button.btn.btn-primary .icon,
.v-application button.btn.btn-secondary .icon,
.v-application button.btn.btn-transparent .icon {
  color: #f0f0f0;
  margin-left: 20px;
}

.v-application button.btn.btn-secondary {
  background-color: #032E42 !important;
}

.v-application button.btn.btn-transparent,
.v-application button.btn.btn-transparent .icon {
  background-color: transparent !important;
  color: #272727 !important;
  font-size: 18px;
  line-height: 24px;
  padding: 4px 8px;
  text-decoration: none;
  font-weight: 400;
}

.v-application button.btn.btn-outline {
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0 32px;
  background-color: transparent;
  border: 1px solid #272727;
  color: #272727;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.v-application button.btn.btn-naked {
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0 32px;
  background-color: transparent;
  border: none;
  color: #272727;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.v-application button.btn.medium {
  height: 32px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding-top: 1px;
}

.v-application button.btn.small {
  height: 24px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 1px;
}

.v-application h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #272727;
}

.v-application a {
  color: #272727;
}

.slider span.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1.5px solid #e6e6e6;
  background-color: transparent;
  transition: background-color 0.18s;
}

.slider span.swiper-pagination-bullet-active {
  background-color: #e6e6e6;
}

.slate-view {
  width: 100%;
}

.slate-view .slate-heading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.slate-view .slate-layout {
  display: flex;
  margin-bottom: 24px;
}

.slate-view .slate-layout .slate-layout-elem {
  flex: 1;
}

.slate-view .slate-layout .slate-layout-elem .slate-p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

div.common-page {
  padding: 0;
  padding-top: 120px;
}

div.common-page h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

.page-banner {
  border-radius: 30px;
  border: 1px solid rgba(230, 230, 230, 1);
  padding-left: 50px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 120px;
  background-image: radial-gradient(circle at 75% 50%, rgba(130, 151, 172, 0.3) 0%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 100%);
}

.page-banner .banner-info {
  margin-top: 57px;
  margin-bottom: 50px;
}

.page-banner .banner-info h2 {
  margin-bottom: 50px;
}

.page-banner .banner-info p,
.page-banner .banner-more p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.page-banner .banner-info p {
  margin-bottom: 24px;
}

.page-banner .banner-more {
  max-width: 445px;
  border: 1px solid rgba(230, 230, 230, 1);
  box-sizing: border-box;
  border-radius: 15px;
  padding: 14px 22px;
  margin-bottom: 50px;
}

.page-banner .banner-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-banner .banner-image img {
  max-height: 100%;
  max-width: 100%;
}

.page-banner {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 316px 128px;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
  
.page-banner .banner-info {
  grid-area: 1 / 1 / 2 / 2;
}

.page-banner .banner-more {
  grid-area: 2 / 1 / 3 / 2;
}

.page-banner .banner-image {
  grid-area: 1 / 2 / 3 / 3;
}

ol.custom-list {
  list-style: none;
}

ol.custom-list li {
  position: relative;
  padding-left: 70px;
  margin-bottom: 40px;
}

ol.custom-list li span.number {
  font-family: Evolventa;
  font-size: 70px;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 0;
  user-select: none;
}

ol.custom-list li h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}

ol.custom-list li p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

.page-info-block {
  max-width: fit-content;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  padding: 12px 56px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  div.common-page {
    padding: 0;
    padding-top: 40px;
  }
  
  div.common-page h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }

  .page-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 225px 225px 125px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 30px 20px;
  }
    
  .page-banner .banner-info {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 !important;
  }
  
  .page-banner .banner-more {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .page-banner .banner-image {
    grid-area: 2 / 1 / 3 / 2;
  }

  .page-banner .banner-info h2 {
    margin-bottom: 10px;
    font-size: 15px !important;
    font-weight: 700;
    line-height: 20px;
  }
  
  .page-banner .banner-info p,
  .page-banner .banner-more p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
  }
  
  .page-banner .banner-info p {
    margin-bottom: 18px;
  }
  
  .page-banner .banner-more {
    max-width: 445px;
    border: 1px solid rgba(230, 230, 230, 1);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 14px 22px;
    margin-bottom: 10px;
    height: fit-content;
  }
  
  .page-banner .banner-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page-banner .banner-image img {
    max-height: 100%;
    max-width: 100%;
  }
}

section.block {
  border-radius: 50px;
  margin-bottom: 110px;
  padding: 60px 40px;
}
  
section.block-blue {
  background-color: #032e42;
}

section.block h2 {
  margin-bottom: 10px;
}

section.block p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 13px;
}

section.block ol {
  padding: 0;
  margin-top: 34px;
  margin-bottom: 34px;
}

section.block ol.custom-list li {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

section.block ol.custom-list li span.number {
  font-family: Evolventa;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
  position: unset;
  margin-right: 10px;
}

section.block ol.custom-list li p {
  padding-bottom: 12px;
}

section.block-blue,
section.block-blue h2,
section.block-blue p,
section.block-blue a {
  color: #ffffff;
}

.btns-group {
  display: flex;
  align-items: center;
  height: 22px;
  border: 0.5px solid rgba(72, 75, 82, 0.5);
  border-radius: 5px;
}

.btns-group .divider {
  width: 1px;
  background-color: rgba(72, 75, 82, 0.5);
  height: 18px;
}

.btns-group button.v-btn:not(.v-btn--round) {
  height: 22px;
  min-width: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 475px);
  margin-bottom: 110px;
}

.categories .category {
  height: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 15px 0 30px 20px;
  box-shadow: 0 4px 4px 0 rgba(200, 200, 200, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories .category .category-image {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories .category .category-image.align-right {
  justify-content: flex-end;
}

.categories .category .category-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-bottom: 10px;
}

.categories .category .category-caption {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 30px;
}

.categories .category-dark {
  background-color: #032E42;
}

.categories .category-dark .category-title,
.categories .category-dark .category-caption {
  color: #ffffff
}

.form {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.block .form {
  width: 300px;
}

.form form {
  max-width: 100%;
}

.form div:first-of-type h2 {
  margin-bottom: 20px;
}

.form div:first-of-type p {
  font-size: 28px;
  font-weight: 400;
  line-height: 37px;
}

.form .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.form .form-row-label {
  min-width: 150px;
  width: 150px;
  max-width: 150px;
}

.form .form-row-content {
  flex: 1;
}

.block .form .v-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #272727;
  color: #272727;
}

.block-blue .form .v-input,
.site-footer .form .v-input {
  border: 1px solid #ffffff;
}

.block-blue .form .v-input input,
.site-footer .form .v-input input {
  color: #ffffff;
}

.block-blue .form .v-input input::placeholder,
.site-footer .form .v-input input::placeholder {
  color: #e7e7e7;
}

.form .v-input .v-input__slot {
  padding: 0 24px;
}

.form .v-input .v-input__slot fieldset {
  border: none;
}

.form .v-input .v-input__slot:before,
.form .v-input .v-input__slot:after {
  display: none;
}

.form .v-input input {
  max-height: 44px;
  height: 44px;
  border: none;
}

.site-footer .v-input__slot {
  min-height: unset !important;
}

.site-footer .v-input,
.site-footer .v-input input {
  max-height: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.additional-text,
.additional-text a {
  font-size: 10px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  text-align: center;
}

.site-footer .additional-text,
.site-footer .additional-text a {
  font-size: 8px !important;
  font-weight: 300 !important;
  line-height: 10px !important;
  text-align: center;
}

.block .form .btn {
  margin-top: 10px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-add-mobile {
  display: none;
}

.socials-block {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.14);
  width: fit-content;
}

.socials-icons {
  display: flex;
  gap: 15px;
}

.w-300 {
  min-width: 300px;
}